@media (min-width: 1010px) {
  .logo_overskrift {
    position: absolute;
    top: 7%;
    font-family: "ivymode", sans-serif;
    z-index: 1;
    font-size: 150px;
    padding-left: 7rem;
    color: #b40c0c;
  }

  h2 {
    font-family: "ivymode", sans-serif;
    font-size: 70px;
    font-weight: 500;
    color: #b40c0c;
    margin-top: 1rem;
  }

  .train img {
    width: 907px; /* Tilpas bredde */
    height: 755px; /* Tilpas højde */
    object-fit: cover; /* Sikrer at billedet ikke strækkes */
  }

  .train {
    padding-left: 40rem;
    padding-block: 5rem;
  }
  .galleri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 5rem;
  }
  .galleri_liste {
    padding-left: 3rem;
  }
  .galleri img {
    width: 831px; /* Tilpas bredde */
    height: 920px; /* Tilpas højde */
    object-fit: cover; /* Sikrer at billedet ikke strækkes */
    padding-right: 16rem;
  }
}
