@media (min-width: 1010px) {
  .logo_overskrift {
    position: absolute;
    top: 7%;
    font-family: "ivymode", sans-serif;
    z-index: 1;
    font-size: 150px;
    padding-left: 7rem;
    color: #b40c0c;
  }

  h2 {
    font-family: "ivymode", sans-serif;
    font-size: 70px;
    font-weight: 500;
    color: #b40c0c;
    margin-top: 1rem;
    letter-spacing: 1rem;
  }

  .train img {
    width: 907px; /* Tilpas bredde */
    height: 755px; /* Tilpas højde */
    object-fit: cover; /* Sikrer at billedet ikke strækkes */
  }

  .train {
    padding-left: 40rem;
    padding-block: 5rem;
  }
  .galleri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 5rem;
  }
  .galleri_liste {
    position: absolute;
    left: 10%;
    top: 130%;
  }

  .galleri_liste li {
    list-style: none;
    padding-top: 3rem;
    padding-right: 3rem;
    border-bottom: #b40c0c solid;
    font-family: "Inconsolata", monospace;
    font-size: 30px;
  }
  .galleri_liste ul {
    padding-inline-start: 10px;
  }
  .galleri img {
    width: 901px; /* Tilpas bredde */
    height: 970px; /* Tilpas højde */
    object-fit: cover; /* Sikrer at billedet ikke strækkes */
    padding-right: 10rem;
  }
}

.galleri_liste a {
  color: #666666;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
  transition: color 0.3s ease;
}
.galleri_liste a:hover {
  color: #b40c0c; /* Farve ved hover */
}

.galleri_link a {
  position: absolute;
  left: 10.5%;
  top: 178%;
  color: #718bae;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Inconsolata", monospace;
  transition: color 0.3s ease;
}

.galleri_link a:hover {
  color: #191967; /* Farve ved hover */
}

.bag_kameraet {
  padding-inline: 4rem;
}
.bag_kameraet img {
  height: 520px;
  width: 844px;
}
